@import 'scss/colors';

// for header and footer
@mixin ribbon {
  background: $color-primary;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  position: relative;
}
