/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.sol .header {
  background: #ff7043;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  position: relative; }
  .sol .header > .header-left,
  .sol .header > .header-right {
    flex: 1; }
  .sol .header > .header-center {
    flex: 2; }
  .sol .header .header-logo span {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    text-shadow: 2px 1px 0 fade(#000, 50%);
    mix-blend-mode: hard-light; }
  .sol .header .header-center ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    padding: 0;
    margin: 0; }
    .sol .header .header-center ul > li {
      flex: 0;
      margin: 0 1.5em;
      list-style-type: none; }
      .sol .header .header-center ul > li a {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.8em;
        text-decoration: none; }
      .sol .header .header-center ul > li .active {
        font-size: 1.5em; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.sol .footer {
  background: #ff7043;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  position: relative; }
  .sol .footer .copyright > span {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    font-weight: 300; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
html {
  box-sizing: border-box; }

body {
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.sol {
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; }
  .sol p,
  .sol a,
  .sol span {
    font-family: 'Zilla Slab', serif;
    font-size: 1em; }
  .sol h1,
  .sol h2,
  .sol h3,
  .sol h4,
  .sol h5,
  .sol h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 1px #000; }
  .sol .content {
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    flex: 1;
    padding: 1rem 12vw;
    background: #fff; }


/*# sourceMappingURL=sol.css.map*/